@let contenu2 = contenu();
@if (contenu2) {
  @if (contenu2.type == TypeContenuDto.TEXTE) {
    <p>{{ contenu2.texte }}</p>
  } @else if (contenu2.type == TypeContenuDto.TABLEAU) {
    @let tableau = contenu2.tableau;
    @if (tableau && tableau.lignes && tableau.lignes.length > 0) {
    <div class="card">
      <p-table [value]="tableau.lignes" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #body let-ligne>

          <tr>
            @for (cellule of ligne; track $index) {
              <td>
                @if (cellule) {
                  <app-contenu-component [contenu]="cellule" class="no-padding"></app-contenu-component>
                }
              </td>
            }
          </tr>

        </ng-template>
      </p-table>
    </div>
    }

  }
}
