<form [formGroup]="selectionDashboard" (ngSubmit)="onSubmit()">

  <div class="flex items-center justify-center gap-4">

  <p-select
    formControlName="dashboard"
    [options]="dashboards"
    optionLabel="titre"
    optionValue="id"
    class="border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
    placeholder="Sélectionner un dashboard"
  >
  </p-select>

  <p-button label="OK" (click)="selection($event)"/>

  </div>

  @if(chargementCards()) {
    <div class="card flex justify-center">
      <p-progress-spinner ariaLabel="loading" />
    </div>
  }

  @if (listeCards && listeCards.size > 0) {
    <div class="flex flex-row">
      @for (card of listeCards | keyvalue; track card.key) {

        <div class="mb-4 p-8">
          <p-card [header]="card.value.titre">
            <p class="m-0">
              @if (!card.value.nonCalcule) {
                @let value = card.value;
                @if (value.contenu) {
                  <app-contenu-component [contenu]="value.contenu" class="no-padding"></app-contenu-component>
                }
              } @else {
                <div class="card flex justify-center">
                  <p-progress-spinner ariaLabel="loading" />
                </div>
              }
            </p>
          </p-card>
        </div>

      }
    </div>
  }

</form>
